GITHUB_PAT=
HF_TOKEN=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=estc-dev
POSTGRES_USER=estc
POSTGRES_PASSWORD=estc_dev_pw
POSTGRES_DB=estc
POSTGRES_HOST=mcp-postgres
POSTGRES_PORT=5432
CLASSIFIER_API_URL=http://classifier-api:8001